.navbar {
  position: fixed;
  padding: 20px 0px;
  color: white;
  gap: 100px;
  width: 100vw;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
}

.navbar-button {
  transition: all 0.3s;
  text-decoration: none;
}
.navbar-button:hover {
  color: #fd06b5;
}
